Repository onuriltan/CoinDashboard: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      server:
        target: 80%
        flags:
          - server
      client:
        target: 80%
        flags:
          - client
    patch:
      default:
        target: 80%
        threshold: 0%
        base: auto
        if_not_found: success
        if_ci_failed: error

flags:
  server:
    paths:
      - packages/server
  client:
    paths:
      - packages/client

trying different things
  .circleci/config.yml
  codecov.yml
Due: none

delete name specifiying from codecov upload
  .circleci/config.yml
Due: none

delete default check for project codecov
  codecov.yml
Due: none

feature/codecov divide projects (#13)
  .circleci/config.yml
  codecov.yml
Due: none

delete unnecessary command
  package.json
Due: none

delete unnecessary command (#14)
  package.json
Due: none

add amChartsv4 and unit tests
  packages/client/package.json
  packages/client/src/app/App.tsx
  packages/client/src/config/test/GlobalMocks.ts
  packages/client/src/index.tsx
  packages/client/src/modules/bitcoin-chart/BitcoinChart.scss
  packages/client/src/modules/bitcoin-chart/BitcoinChart.test.tsx
  packages/client/src/modules/bitcoin-chart/BitcoinChart.tsx
  packages/client/tsconfig.json
  yarn.lock
Due: client

actually mock the child component inside App component
  packages/client/src/app/App.test.tsx
Due: client

linting fixes and stuff
  package.json
  packages/client/src/app/App.test.tsx
  packages/client/src/app/App.tsx
  packages/client/src/config/test/GlobalMocks.ts
  packages/client/src/modules/bitcoin-chart/BitcoinChart.test.tsx
  packages/client/src/modules/bitcoin-chart/BitcoinChart.tsx
Due: client

show average btx price by fetching data from history gql query
  codecov.yml
  package.json
  packages/client/public/index.html
  packages/client/src/modules/bitcoin-chart/BitcoinChart.tsx
  packages/server/environment.d.ts
  packages/server/package.json
  packages/server/src/config/dotenv/dotenv.ts
  packages/server/src/graphql/schema.ts
  packages/server/src/graphql/types.ts
  packages/server/src/integrations/blockchain/index.ts
  packages/server/src/server/server.ts
  yarn.lock
Due: server, client

refactor tests
  packages/client/src/modules/bitcoin-chart/BitcoinChart.test.tsx
  packages/server/src/config/dotenv/dotenv.test.ts
  packages/server/src/integrations/blockchain/index.ts
  packages/server/src/modules/history/service.test.ts
  packages/server/src/server/server.test.ts
Due: server, client

Feature/bitcoin history chart (#15)
  codecov.yml
  package.json
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/app/App.test.tsx
  packages/client/src/app/App.tsx
  packages/client/src/config/test/GlobalMocks.ts
  packages/client/src/index.tsx
  packages/client/src/modules/bitcoin-chart/BitcoinChart.scss
  packages/client/src/modules/bitcoin-chart/BitcoinChart.test.tsx
  packages/client/src/modules/bitcoin-chart/BitcoinChart.tsx
  packages/client/tsconfig.json
  packages/server/environment.d.ts
  packages/server/package.json
  packages/server/src/config/dotenv/dotenv.test.ts
  packages/server/src/config/dotenv/dotenv.ts
  packages/server/src/graphql/schema.ts
  packages/server/src/graphql/types.ts
  packages/server/src/integrations/blockchain/index.ts
  packages/server/src/modules/history/service.test.ts
  packages/server/src/server/server.test.ts
  packages/server/src/server/server.ts
  yarn.lock
Due: server, client

add bootstrap
  packages/client/package.json
  packages/client/src/index.scss
  packages/client/src/index.tsx
  yarn.lock
Due: client

Feature/bootstrap (#16)
  packages/client/package.json
  packages/client/src/index.scss
  packages/client/src/index.tsx
  yarn.lock
Due: client

add Dockerfiles and docker-compose to the root
  .dockerignore
  docker-compose.yml
  package.json
  packages/client/Dockerfile
  packages/client/package.json
  packages/server/Dockerfile
  packages/server/package.json
Due: server, client
